* {
	user-select:none;
	-webkit-user-select:none;
}

body {
	margin : 0;
	background-color: rgb(100, 100, 100);
	height:100%;
	width:100%;
}

#screen {
	position:absolute;
	left:63px;
	top:0px;
	background-color: white;
}

#menu {
	position:fixed;
	left:0px;
	top:0px;
	width:62px;
	height:100%;
	background-color:black;
	padding-top : 10px;
}

.menu-button {
	position:relative;
	font-family : helvetica;
	font-weight : lighter;
	font-size: 1.2em;
	width: 45px;
	height: 35px;
	color : white;
	margin-top : 4px;
	margin-left: 10px;
	border-radius : 13px;
	background-color: black;
	border : 2px solid white;
	cursor:pointer;
}


.menu-button div {
	position:absolute;
	transform: translate(-50%, -50%);
	left:50%;
	top:50%;
}

#menu a:hover div {
	background-color: orange;
	color:black;
}

.form {
	z-index: 4;
	position:fixed;
	top : 100px;
	left: 50%;
	transform: translateX(-50%);
	font-family: helvetica;
	font-weight : lighter;
	background-color: black;
	padding : 20px 80px 20px 80px;
	color : white;
	display:none;
}

.form-title {
	font-size: 1.7em;
	margin-bottom:10px;
}
.form-tier {
	width:100%;
	display:flex;
	font-size:1.3em;
	margin-bottom: 10px;
}
.form-tier div {
}

.form-text {
	font-size: 1em;
	font-color: black;
	border : none;
	background-color: none;
	padding-bottom:2px;
}

.form-button-wrapper {
	display : flex;
	flex-direction : row-reverse;
}

.form-button {
	font-size: 1.3em;
	margin-left: 10px;
}

#shadower {
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.4);
	z-index:2;
	position:fixed;
	display:none;
}

#shadow-menu {
	width:62px;
	height:100%;
	top:0;
	left:0;
	position:fixed;
	z-index:3;
	background-color: rgba(0,0,0,0.5);
	display:none;
}

#notifier {
	opacity : 0;
	transition: opacity 0.5s;
	font-size:1.3em;
	color:white;
	font-family:helvetica;
	font-weight:lighter;
	background-color:black;
	width:100%;
	top:0;
	position:fixed;
	text-align:center;
}

#entity-chooser {
	width:100%;
	top:0;
	position:absolute;
	display:none;
	z-index:3;
}

.chooser {
	display:flex;
	justify-content: center;
	transition: opacity 0.5s;
	font-size:1.3em;
	color:white;
	font-family:helvetica;
	font-weight:lighter;
	background-color:black;
	width:100%;
	top:0;
	position:fixed;
	text-align:center;
}

.chooser div {
	margin: 0px 10px 0px 10px;
}

.form-assoc-button {
	font-size:1.3em;
	border:1px solid white;
	margin:10px;
	padding:10px;
	cursor : pointer;
}

.form-tier a:hover div.form-assoc-button {
	background-color: orange;
	color : black;
}


.flex-centered {
	justify-content: center;
}

.form-list {
	overflow:scroll;
	overflow-y:scroll;
	max-height: 320px;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid orange;
}

.form-list a div{
	border: 1px solid white;
	font-size: 1.3em;
	padding: 10px;
	cursor: pointer;
}

.form-tier a {
	color:white;
}

.form-list a:hover div {
	background-color: orange;
	color : black;
}


#main-app {
	width:100%;
	height:100%;
}